@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --nav-height: 3.5rem;
    --page-height: calc(100vh - var(--nav-height));
    --chat-input-height: 4.5rem;

    --page-min-width: 320px;
    --page-max-width: 640px;
  }

  @font-face {
    font-family: Pretendard;
    font-weight: 400;
    src: url('../../public/font/Pretendard-Regular.woff') format('woff');
  }

  @font-face {
    font-family: Pretendard;
    font-weight: 700;
    src: url('../../public/font/Pretendard-Bold.woff') format('woff');
  }
}

@layer base {
  .centered-content {
    @apply max-w-[640px] min-w-[320px] shadow-2xl bg-background-color text-text-color relative overflow-hidden mx-auto pt-14 min-h-screen;
  }

  :root,
  html,
  body {
    @apply h-full;
    @apply font-pretendard;
  }
}
